<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div>
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
      <span id="date">{{ page.date | date_to_string }}</span>
    </div>
  </div>

  <script src="/js/mermaid.min.js"></script>
  <div class="post">
    <div id="toc"></div>
    {{ content }}
    <script>
	var config = {
	        startOnLoad:true,
	        theme: 'forest',
	        flowchart:{
		                useMaxWidth:false,
		                htmlLabels:true
		            }
	};
mermaid.initialize(config);
window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    </script>
  
  </div>
  <div class="colophon">
    <p>
      <span id="pub-date">Published on {{ page.date | date_to_string }}</span> <span class="separator">&bull;</span>
      <span id="social">Connect with: <a href="https://iush.slack.com/">Slack</a></span>
    </p>
  </div>
</div>
