<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>IUSH - {{ page.title }}</title>
      <meta name="viewport" content="width=device-width">

      <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="/css/syntax.css">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="/css/main.css">

      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/css/responsive.css">

      <!-- Google Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="site">
      <div class="sidebar" id="sidebar">
        <div class="header">
          <h1 class="title"><a href="/"><img id="logo" src="/images/logo.png"></a></h1>
          <span class="tagline">Classoom GitLab Repository</span>
        </div>
        <div class="posts">
          <ul class="posts-list">
            {% for post in site.posts %}
              <li class="post-link">
                <a class="post-title" href="{{ post.url }}">
                  <span class="post-date">{{ post.date | date_to_string }}</span>
                  {{ post.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer">
          <span id="footer-links">
            <a href="http://iush.gitlab.io/posts/2017/11/01/presentation-post.html" class="footer-link">About</a> <span class="separator">&bull;</span>
            <a href="https://iush.slack.com" class="footer-link">Slack</a> <span class="separator">&bull;</span>
            <a href="https://gitlab.com/iush" class="footer-link">GitLab</a>
          </span>
        </div>
      </div>

        {{ content }}

    </div>
    <script src="/scripts/responsive.js" type="text/javascript"></script>
    <script src="/scripts/jquery.min.js" type="text/javascript"></script>
    <script src="/scripts/toc.js" type="text/javascript"></script>
    <script type="text/javascript">
    	$(document).ready(function() {
   	    $('#toc').toc({ listType: 'ul' , minimumHeaders: 2 , headers: '.content h2, .content h3' } );
    	});
    </script>
  </body>
</html>
